In [21]:
import pandas as pd
prof = pd.read_csv('professor.csv', header=None)
prof = list(prof[0])

In [22]:
inform = ['이메일', '전화번호', '연락처', '연구실']
please = ['', '알려줘', '알려줄래', '찾아줘', '찾아줄래', '알아?']

In [23]:
intent = [] # 질문 set
tent = [] # 의도
for i in range(len(prof)):
    for j in range(len(inform)):
        for k in range(len(please)):
            sentence = prof[i]+ ' 교수님 '+ inform[j] + ' ' + please[k]
            intent.append(sentence)
            if j == 0: # 이메일
                tent.append('교수이메일')
            elif j == 1 or j == 2: # 전화번호, 연락처
                tent.append('교수연락처')
            else: # 연구실
                tent.append('교수연구실')

In [24]:
for name in prof:
    sentence = name + ' 교수님 연구실 어디야?'
    intent.append(sentence)
    tent.append('교수연구실')
for name in prof:
    for i in range(3):
        sentence = name + ' 교수님 정보 ' + please[i]
        intent.append(sentence)
        tent.append('교수님정보') #?

In [25]:
print(len(intent))
print(len(tent))

22932
22932

In [26]:
import numpy as np
intent.extend(tent) # len(intent) = 45684
arr_intent = np.array(intent)
arr_intent = arr_intent.reshape(-1, len(tent)) # len(tent) = 22932
arr_intent = arr_intent.transpose()

In [27]:
arr_intent

array([['강경란 교수님 이메일 ', '교수이메일'],
       ['강경란 교수님 이메일 알려줘', '교수이메일'],
       ['강경란 교수님 이메일 알려줄래', '교수이메일'],
       ...,
       ['ZHAO YUE 교수님 정보 ', '교수님정보'],
       ['ZHAO YUE 교수님 정보 알려줘', '교수님정보'],
       ['ZHAO YUE 교수님 정보 알려줄래', '교수님정보']], dtype='<U41')

In [28]:
new_intent = pd.DataFrame(arr_intent)
new_intent

                          0      1
0              강경란 교수님 이메일   교수이메일
1           강경란 교수님 이메일 알려줘  교수이메일
2          강경란 교수님 이메일 알려줄래  교수이메일
3           강경란 교수님 이메일 찾아줘  교수이메일
4          강경란 교수님 이메일 찾아줄래  교수이메일
...                     ...    ...
22927      ZHAO  교수님 정보 알려줘  교수님정보
22928     ZHAO  교수님 정보 알려줄래  교수님정보
22929      ZHAO YUE 교수님 정보   교수님정보
22930   ZHAO YUE 교수님 정보 알려줘  교수님정보
22931  ZHAO YUE 교수님 정보 알려줄래  교수님정보

[22932 rows x 2 columns]

In [53]:
new_intent.to_csv('train_intent.csv')
# 추후 read_csv시, index_col = 0 설정 (앞열 숫자 제거)